@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

.Header{
  width: 100%;
  height: 70px;
  background-color:black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 15px;
  z-index: 100;
  position: fixed;
}

.webName{
  margin: 0;
  color: black;
  background-color: #ffa600;
  line-height: 40px;
  padding: 0 7px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

.searbarWid{
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  gap:10px;
}

.SearchBar {
  width: 350px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 40px;
}

.SearchBar input{
  width:100%;
  background-color:white;
  outline:none;
  border:none;
  height:100%;
  font-size:20px;
  padding:0 5px 0 10px;
  color:rgb(69 69 69);
}

.uil-search{
  color: #8d8d8d;
  font-size: 30px;
  line-height: 40px;
  background-color: white;
}

.uil-search:hover{
  color:#ffa600;
  cursor: pointer;
}

/* media quries */
@media (min-width:700px) {
  .SearchBar{ width: 500px; }
}

@media (max-width:450px){
  .Header{
    flex-direction: column;
    height: 120px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .SearchBar{
    width: 95vw;
    height: 35px;
    border-radius: 5px;
    grid-template-columns: 1fr 30px;
  }

  .SearchBar input{
    font-size: 18px;
  }

  .uil-search{
    font-size: 25px;
    line-height: 35px;
  }

}